/** Always start with mobile */

html {
    box-sizing: border-box;
    font-size: 0.625em;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
}

#trigger-nav {
    opacity: 0.01;
    position: fixed;
    right: -10rem;
    width: 1px;
}

span {
    font-size: 1px;
    opacity: 0.01;
    width: 1px;
}

#trigger-nav + label {
    position: fixed;
    right: 2rem;
    top: 2rem;
    border: 4px solid teal;
    border-width: 4px 0;
    cursor: pointer;
    height: 3rem;
    width: 5rem;
    z-index: 1;
}

label[for="trigger-nav"]::before,
label[for="trigger-nav"]::after {
    border-top: 4px solid teal;
    content: "";
    display: block;
    position: relative;
    top: -1.8rem;
    width: 100%;
}

label[for="trigger-nav"]::before {
    top: 1rem;
}

#trigger-nav:checked + label {
    border: none;
}

#trigger-nav:checked + label::before {
    border-color: black;
    transform: rotate(135deg);
}

#trigger-nav:checked + label::after {
    border-color: black;
    transform: rotate(45deg);
}

#trigger-nav:checked ~ nav {
    right: 0;
}

nav {
    background: #d2e7f2;
    height: 100%;
    position: fixed;
    right: -75%;
    transition: right 0.5s;
    width: 75%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #5e5858;
    display: block;
    font-size: 3.5rem;
    padding: 1.5rem;
    text-decoration: none;
}

/** Desktop-Use em instead of px */
@media screen and (min-width: 50em) {
    label[for="trigger-nav"] {
        display: none;
    }
    
    nav {
        position: static;
        width: 100%;
    }

    ul {    
        display: flex;
        justify-content: space-around;
    }

    a {  
        font-size: 2vw;
        padding: 2rem;
    }
}